ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
border-right: 1px solid #bbb;
}

li a {
display: block;
color: white;
text-align: center;
padding: 24px 26px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}
body {
/* Old browsers */
background: #ffcccc;
/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(-45deg, #ffccbc, #111fff);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(-45deg, #35577D, #666444);
margin: 0;
padding: 0;
}